<div class="page-users row m-0">
  <div class="col-md-1 my-3"></div>
  <div class="col-md-9 my-3">
    <div class="page-users-title">
      <h1>Liste des Utilisateurs</h1>
    </div>
    <mat-form-field class="page-users-filter" appearance="standard">
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="page-users-table" matSort>
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.username}} </td>
        </ng-container>
        <ng-container matColumnDef="mail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let row"> {{row.mail}} </td>
        </ng-container>
        <ng-container matColumnDef="certification">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Certification </th>
          <td mat-cell *matCellDef="let row"> {{row.certification !== undefined ? "Oui": "Non"}} </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
          <td mat-cell *matCellDef="let row">
            <button [matMenuTriggerFor]="menu" mat-button>Gestion</button>
            <mat-menu #menu="matMenu">
              <button (click)="deleteUser(row.username)" mat-menu-item>Supprimer Utilisateur</button>
              <button (click)="deleteProfilePicture(row.username)" mat-menu-item>Supprimer Photo de profil</button>
              <button (click)="deleteBannerPicture(row.username)" mat-menu-item>Supprimer Photo de couverture</button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [length]="(_userService.users|async)?.length"
                     [pageSize]="20"
                     [pageSizeOptions]="[20, 100]"></mat-paginator>
    </div>
  </div>
  <div class="col-md-1 my-3"></div>
</div>
