<div class="page-list-category row m-0">
  <div class="col-md-1 my-3"></div>
  <div class="col-md-9 my-3">
    <div class="page-list-category-title">
      <h1>Liste des list-category</h1>
    </div>
    <button (click)="showDialogCreateCategory()"
            class="button-create-category" mat-raised-button
            matTooltipPosition="above"
            matTooltip="Créer une nouvelle catégorie">
      Créer une Catégorie
    </button>
    <mat-form-field class="page-list-category-filter" appearance="standard">
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Organisation" #input>
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="page-list-category-table" matSort>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
          <td mat-cell *matCellDef="let row">
            <button [matMenuTriggerFor]="menu" mat-button >Gestion</button>
            <mat-menu #menu="matMenu">
              <button (click)="removeCategory(row.id)" mat-menu-item>Supprimer la Catégorie</button>
              <button (click)="showDialogUpdateCategory(row)" mat-menu-item>Modifier</button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Il n'y a pas de résultat correspondant à la recherche "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [length]="(_categoryService.categories|async)?.length"
                     [pageSize]="20"
                     [pageSizeOptions]="[20, 100]"></mat-paginator>
    </div>
  </div>
  <div class="col-md-1 my-3"></div>
</div>
